.nav-pills .nav-link {
  color: #fff;
  cursor: default;
  background-color: #868686;
  margin-right: 10px;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: #000;
  font-weight: normal;
}

p img{
  height: 200px;
  width: 150px;
}

h5.card-title {
  font-size: medium;
}

/*div.projection-card{
  height : 350px;
}
*/
.session-item{
  font-size: 15px;
}

.ticket{
  width:40;
  height:40px;
  font-size: small;
  align-items: center;
  margin: 2px;
}
